vim/swap/*
vim/undo/*
vim/.netrwhist
gitconfig
weechat/logs
weechat/xfer
weechat/*.log
weechat/weeget
zsh/functions/opp
zsh/functions/opp-install
rbenv
offlineimap/pid
offlineimap/Account-*
offlineimap/Repository-*
msmtp.queue/
