[submodule "zsh/vendor/zsh-syntax-highlighting"]
	path = zsh/vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/vendor/opp.zsh"]
	path = zsh/vendor/opp.zsh
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "dotjs-js"]
	path = js
	url = git@ceh.im:cehoffman/dotjs-js
[submodule "coresys/formula"]
	path = coresys/formula
	url = git@github.com:cehoffman/coresys-formula
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/cehoffman/rbenv.git
[submodule "luaenv"]
	path = luaenv
	url = git@ceh.im:cehoffman/luaenv.git
[submodule "zsh/vendor/autoenv"]
	path = zsh/vendor/autoenv
	url = https://github.com/sharat87/autoenv.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
