vim/swap/*
vim/undo/*
vim/.netrwhist
gitconfig
weechat/logs
weechat/xfer
weechat/*.log
weechat/weeget
zsh/functions/opp
zsh/functions/opp-install
coresys
offlineimap/pid
offlineimap/Account-*
offlineimap/Repository-*
msmtp.queue/
bin/iTerm2HotKey
offlineimap/*.lock
/elinks
/vim/bundle
zsh/functions/*.zwc
!vim/bundle/vundle
/vim/backup
*.pyc
