[submodule "zsh/vendor/zsh-syntax-highlighting"]
	path = zsh/vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/vendor/opp.zsh"]
	path = zsh/vendor/opp.zsh
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "dotjs-js"]
	path = js
  url = https://cehoffman@bitbucket.org/cehoffman/dotjs.git
[submodule "zsh/vendor/completions"]
	path = zsh/vendor/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/vendor/zaw"]
	path = zsh/vendor/zaw
	url = https://github.com/zsh-users/zaw
[submodule "zsh/vendor/fasd"]
	path = zsh/vendor/fasd
	url = https://github.com/clvv/fasd.git
[submodule "ssh"]
	path = ssh
  url = https://cehoffman@bitbucket.org/cehoffman/ssh.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "zsh/vendor/zsh-nix-shell"]
	path = zsh/vendor/zsh-nix-shell
	url = https://github.com/chisui/zsh-nix-shell
