[submodule "zsh/vendor/zsh-syntax-highlighting"]
	path = zsh/vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/vendor/opp.zsh"]
	path = zsh/vendor/opp.zsh
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "dotjs-js"]
	path = js
  url = https://cehoffman@bitbucket.org/cehoffman/dotjs.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/cehoffman/rbenv.git
[submodule "luaenv"]
	path = luaenv
	url = https://github.com/cehoffman/luaenv.git
[submodule "zsh/vendor/autoenv"]
	path = zsh/vendor/autoenv
	url = https://github.com/cehoffman/autoenv.git
[submodule "zsh/vendor/completions"]
	path = zsh/vendor/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/vendor/zaw"]
	path = zsh/vendor/zaw
	url = https://github.com/zsh-users/zaw
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/cehoffman/pyenv.git
[submodule "zsh/vendor/fasd"]
	path = zsh/vendor/fasd
	url = https://github.com/clvv/fasd.git
[submodule "ssh"]
	path = ssh
  url = https://cehoffman@bitbucket.org/cehoffman/ssh.git
[submodule "nodenv"]
	path = nodenv
	url = https://github.com/cehoffman/nodenv
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
